.product-details-info .reviews .single-review svg {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid #eee;
    color: #888;
    padding: 0.5rem;
    left: 0;
    top: 0;
}