
.header .topbar .top-left .logo {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    border: none;
    padding: 0 10px 0 0px;
    color: #fff !important;
    font-size: 20px;
    font-weight: 800;
    background-color: #081828 !important;
}

.header .topbar .top-left .logo .title{
    color: #0167F3;
}